$containerWidth: 940px;
$baseFondSize: 18px;

//colors
$blue:#61c4d9;
$darcGreen:#0b4d3c;
$lightgrey: #F8FAF9;
$lightblue: #86C3D7;
$grey: #F2F5F4;
$green: #2E4E3F;
$white: #FFFFFF;
$btngreen: #365A49;
$darcgrey: #666666;

